@font-face {
  font-family: "Pridi";
  src: url("../assets/Pridi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html {
  overflow: hidden;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 0;

  font-family: "Pridi";
  font-style: normal;
  font-weight: normal;

  background: #1a1110;
}

.axis-grid line,
.axis-grid .tick {
  fill: none;
  stroke: rgba(255, 255, 255, 0.34);
  stroke-width: 1px;
}

.grid path {
  stroke-width: 0;
}

.dot {
  stroke: #000;
}
#fullscreen-button {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

#help-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@keyframes changecolor {
  from {
    color:#c83b3b;
  }

  to {
    color: transparent;
  }
}

#recording-label {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 1;

  font-family: "Pridi";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 100px;
  color: #c83b3b;
  
  animation-duration: 1s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 66%; /* aspect ratio */
  vertical-align: top;

  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#control-box {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  padding: 0px;
  z-index: 1;

  position: absolute;
  width: 420px;
  height: 500px;
  left: 66px;
  top: 131px;
  overflow: hidden;

  background: #1a1110;
  border: 2px solid rgba(64, 64, 64, 0.59);
  box-sizing: border-box;
}

#title-text {
  position: absolute;
  width: 343px;
  height: 80px;
  left: 50px;
  top: 25px;

  font-family: "Pridi";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 87px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

#drag-section {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  padding: 0px;

  position: static;
  width: 420px;
  height: 30px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
  z-index: 2;
  cursor: move;
  user-select: none;
}

#button-container {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: static;
  width: 420px;
  height: 70px;
  left: 0px;
  top: 30px;

  /* Inside Auto Layout */
  flex: none;
  align-self: flex-start;
  margin: 0px 0px;
}

#button-container button {
  position: static;
  /* width: 140px; */
  /* height: 70px; */
  flex: 2 1 auto;
  left: 280px;
  top: 0px;

  border: 2px solid rgba(64, 64, 64, 0.59);

  /* Inside Auto Layout */
  /* flex: none;
  align-self: center;
  margin: 0px 0px; */

  font-family: "Pridi";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

#button-container button.selected {
  background-color: #252222;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

#box-content {
  position: static;
  width: 420px;
  height: 400px;
  left: 0px;
  top: 100px;
  overflow-y: auto;
  overflow-x: hidden;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  align-self: flex-end;
  margin: 0px 0px;
  background-color: transparent;
}

/* inside #box-content */
.box-fill {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  padding: 0px;
}

div.check-row {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  justify-content: space-around;
  align-items: center;
}

div.row-element-check {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 0px;
  flex: 1 1 0px;

  position: static;
  justify-content: center;
}

.check-row label,
.check-row input {
  font-family: Pridi;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  display: flex;
  align-items: center;

  color: #ffffff;
  padding: 0 8px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 5px 0px;
}

div#box-content p {
  font-family: Pridi;
  font-style: normal;
  color: #ffffff;
}

div#box-legend>div{
  display: flex;
} 

div#box-filter p,
div#box-legend p {
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

div#box-legend {
  display: grid;
  grid-template-columns: auto auto auto;
}
div#box-legend > div {
  justify-self: center;
}
#box-create {
  padding: 127px 97px;
}

#box-create button {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  padding: 22px 44px;

  position: static;
  width: 168px;
  height: 73px;
  left: 126px;
  top: 127px;

  background: #c83b3b;
  box-shadow: 0px 4px 4px rgba(188, 60, 60, 0.71);
  border-radius: 20px;

  font-family: "Pridi";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 0;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 20px;
  margin-bottom: 20px;
}

#record-text.helper-text {
  position: static;
  width: 153px;
  height: 20px;
  left: 133.5px;
  top: 220px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 20px;
}
p.helper-text {
  font-family: Pridi;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#record-control {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  justify-content: space-evenly;

  position: static;
  width: 286.52px;
  height: 37.5px;
  left: 66.74px;
  top: 10px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 10px;
}

#play-button {
  position: static;
  width: 60px;
  height: 60px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}
#download-button {
  position: static;
  width: 48px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 71px 0px;
}

#download-button g {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 4.17%;
  bottom: 4.17%;
  fill: white;
}

#stop-button {
  position: static;
  width: 36.52px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  align-self: center;
  margin: 71px 0px;
}

#stop-button g {
  fill: #c83b3b;
}

.recorded-chord {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  justify-content: space-evenly;

  position: static;
  width: 394px;
  height: 70px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 10px;
  cursor: move;
  user-select: none;
}
.drag-chord {
  position: static;
  width: 50px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 40px 0px;
}

.drag-chord g {
  position: absolute;
  left: 15.62%;
  right: 15.62%;
  top: 37.5%;
  bottom: 37.5%;

  fill: white;
  background: white;
}
.chord-name {
  position: static;
  width: 145px;
  height: 29px;
  left: 91px;
  top: 20.5px;

  font-family: Pridi;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 40px 0px;
}

.chord-play {
  position: static;
  width: 40px;
  height: 40px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  align-self: center;
  margin: 40px 0px;
}
.chord-delete {
  position: static;
  width: 20px;

  /* Inside Auto Layout */
  flex: none;
  order: 3;
  align-self: center;
  margin: 40px 0px;
}

.tooltip {
  position: absolute;
  background-color: #1a1110;
  border: 1px solid #575757;
  padding: 10px;
  display: flex;
}
.tooltip p {
    font-family: "Pridi";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
